<include file="./Application/Home/View/Common/header.html" />
<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				
				<include file="./Application/Home/View/Common/navbar_header.html" />
				
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<include file="./Application/Admin/View/Common/left.html" />

								<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<a href="__APP__/Home/Index/menu"><i class="icon-home home-icon" ></i></a>
								<a href="#">Admin模块</a>
							</li>

							<li>
								<a href="#">权限管理</a>
							</li>
							<li class="active">节点列表</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								权限管理
								<small>
									<i class="icon-double-angle-right"></i>
									节点列表
								</small>
							</h1>
						</div><!-- /.page-header -->
								<div class="row">
									<div class="col-xs-12 col-sm-4 widget-container-span">
										<div class="widget-box collapsed">
											<div class="widget-header widget-header-small header-color-orange">
												<h6>
													新增
												</h6>

												<div class="widget-toolbar">

													<a href="#" data-action="collapse">
														<i class="icon-chevron-down"></i>
													</a>

												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main">
		<form class="form-horizontal" role="form" name="add_rule_form" id="add_rule_form" method="post" action="__APP__/Admin/Index/addRule">

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> name </label>

				<div class="col-sm-9">
					<input type="text" id="a_name" name="form[name]" class="col-xs-10 col-sm-5" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> title </label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" id="a_title" name="form[title]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-4">status</label>

				<div class="col-sm-9">
					<input class="col-xs-10 col-sm-1" type="text" id="a_status" name="form[status]" value="1" />
					<div class="space-2"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-5">type</label>

				<div class="col-sm-9">
					<div class="clearfix">
						<input type="text" class="col-xs-10 col-sm-5" id="a_type" name="form[type]" />
					</div>

					<div class="space-2"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-5">condition</label>

				<div class="col-sm-9">
					<div class="clearfix">
						<input type="text" class="col-xs-10 col-sm-5" id="a_condition" name="form[condition]" />
					</div>

					<div class="space-2"></div>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-6">level</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="a_level" name="form[level]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">father_id</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="a_father_id" name="form[father_id]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">is_show</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="a_is_show" name="form[is_show]" value="1"/>
				</div>
			</div>

		<div class="modal-footer">
              	<button type="button" class="btn btn-primary" onclick="a_form()">保存</button>
      	</div>
		</form>
		<script>
			function ltrim(s){

			    return s.replace( /^\s*/,"");

			}

			//去右空格;

			function rtrim(s){

			    return s.replace( /\s*$/,"");

			}
			function trim(s){

			    return ltrim(rtrim(s));

			}
			function a_form(){
				var a_name = trim($('#a_name').val());
				var a_title = trim($('#a_title').val());
				var a_status = trim($('#a_status').val());
				var a_type = trim($('#a_type').val());
				var a_level = trim($('#a_level').val());
				var a_father_id = trim($('#a_father_id').val());
				var a_is_show = trim($('#a_is_show').val());
				if(a_name.length == 0){
					alert('name 不能为空！');
					return false;
				}
				if(a_title.length == 0){
					alert('title 不能为空！');
					return false;
				}
				if(a_status.length == 0){
					alert('status 不能为空！');
					return false;
				}
				if(a_type.length == 0){
					alert('type 不能为空！');
					return false;
				}
				if(a_level.length == 0){
					alert('level 不能为空！');
					return false;
				}
				if(a_father_id.length == 0){
					alert('father_id 不能为空！');
					return false;
				}
				if(a_is_show.length == 0){
					alert('is_show 不能为空！');
					return false;
				}


				document.getElementById('add_rule_form').submit();
			}
		</script>

												</div>
											</div>
										</div>
									</div>
								</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">编辑</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal" role="form" name="edit_form" id="edit_form" method="post" action="__APP__/Admin/Index/edit">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> id </label>

				<div class="col-sm-9">
					<input type="text" id="e_id" name="form[id]" readOnly="true" placeholder="Username" class="col-xs-10 col-sm-1" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> name </label>

				<div class="col-sm-9">
					<input type="text" id="e_name" name="form[name]" class="col-xs-10 col-sm-5" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> title </label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" id="e_title" name="form[title]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-4">status</label>

				<div class="col-sm-9">
					<input class="col-xs-10 col-sm-1" type="text" id="e_status" name="form[status]"  />
					<div class="space-2"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-5">type</label>

				<div class="col-sm-9">
					<div class="clearfix">
						<input type="text" class="col-xs-10 col-sm-5" id="e_type" name="form[type]" />
					</div>

					<div class="space-2"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-5">condition</label>

				<div class="col-sm-9">
					<div class="clearfix">
						<input type="text" class="col-xs-10 col-sm-5" id="e_condition" name="form[condition]" />
					</div>

					<div class="space-2"></div>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-6">level</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="e_level" name="form[level]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">father_id</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="e_father_id" name="form[father_id]" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">is_show</label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" id="e_is_show" name="form[is_show]" />
				</div>
			</div>

		<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        	<button type="button" class="btn btn-primary" onclick="e_form()">保存</button>
      	</div>
		</form>
		<script>
			function e_form(){
				document.getElementById('edit_form').submit();
			}
		</script>
	</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--del modal-->
<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">删除规则</h4>
      </div>
      <div class="modal-body">
      	<h4 class="modal-title" id="myModalLabel">确认删除吗？</h4>
		<form class="form-horizontal" role="form" name="del_form" id="del_form" method="post" action="__APP__/Admin/Index/delRule">
			<input type="hidden" id="del_id" name="del_id" value="">
		<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        	<button type="button" class="btn btn-primary" onclick="d_form()">确认</button>
      	</div>
		</form>
		<script>
			function d_form(){
				document.getElementById('del_form').submit();
			}
		</script>
	</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--del modal-->
						<div class="row">
							<div class="col-xs-12">
								<div class="table-responsive">
									<table id="sample-table-2" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>id</th>
												<th>name</th>
												<th class="hidden-480">title</th>

												<th>
													status
												</th>
												<th class="hidden-480">type</th>

												<th>condition</th>
												<th>level</th>
												<th>father_id</th>
												<th>is_show</th>
												<th>管理</th>
											</tr>
										</thead>
											<script>
												function edit(i){
													
													$('#e_id').val($('#c_id_'+i).html());
													$('#e_name').val($('#c_name_'+i).val());
													$('#e_title').val($('#c_title_'+i).html());
													$('#e_status').val($('#c_status_'+i).html());
													$('#e_type').val($('#c_type_'+i).html());
													$('#e_condition').val($('#c_condition_'+i).html());
													$('#e_level').val($('#c_level_'+i).html());
													$('#e_father_id').val($('#c_father_id_'+i).html());
													$('#e_id').val($('#c_id_'+i).html());
													$('#e_is_show').val($('#c_is_show_'+i).html());
												}
												function del(i){
													$('#del_id').val(i);
												}
											</script>
										<tbody>
											<volist name="rule" id="r">
											<tr>
												<td id="c_id_{$r.id}">{$r.id}</td>
												<td ><input type="hidden" id="c_name_{$r.id}" value="{$r.name}">
													<if condition="$r.level == 1">
													{$r.name}
													<elseif condition="$r.level == 2" />
													|&nbsp;&nbsp;|—&nbsp;{$r.name}
													<elseif condition="$r.level == 3" />
													|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|—&nbsp;{$r.name}
													</if>
												</td>
												<td id="c_title_{$r.id}">{$r.title}</td>
												<td id="c_status_{$r.id}">{$r.status}</td>
												<td id="c_type_{$r.id}">{$r.type}</td>
												<td id="c_condition_{$r.id}">{$r.condition}</td>
												<td id="c_level_{$r.id}">{$r.level}</td>
												<td id="c_father_id_{$r.id}">{$r.father_id}</td>
												<td id="c_is_show_{$r.id}">{$r.is_show}</td>
												<td>
													<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
														<a class="green" href="#" onclick="edit({$r.id})">
															<i class="icon-pencil bigger-130"  data-toggle="modal" data-target="#myModal"></i>
														</a>
														<a class="red" href="#" onclick="del({$r.id})">
															<i class="icon-trash bigger-130" data-toggle="modal" data-target="#delModal"></i>
														</a>
													</div>
												</td>
											</tr>
											</volist>
										</tbody>
									</table>
								</div>
							</div>
						</div>				

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-sm-6">
										<div class="widget-box">
											<div class="widget-header header-color-blue2">
												<h4 class="lighter smaller"></h4>
											</div>

											<div class="widget-body">
												<div class="widget-main padding-8">
													<div id="tree1" class="tree"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<script type="text/javascript">
									var $assets = "assets";//this will be used in fuelux.tree-sampledata.js
								</script>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
	
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<include file="./Application/Home/View/Common/config.html" />

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="__PUBLIC__/assets/js/fuelux/fuelux.tree.min.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			var DataSourceTree = function(options) {
				this._data 	= options.data;
				this._delay = options.delay;
			}

			DataSourceTree.prototype.data = function(options, callback) {
				var self = this;
				var $data = null;

				if(!("name" in options) && !("type" in options)){
					$data = this._data;//the root tree
					callback({ data: $data });
					return;
				}
				else if("type" in options && options.type == "folder") {
					if("additionalParameters" in options && "children" in options.additionalParameters)
						$data = options.additionalParameters.children;
					else $data = {}//no data
				}
				
				if($data != null)//this setTimeout is only for mimicking some random delay
					setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

				//we have used static data here
				//but you can retrieve your data dynamically from a server using ajax call
				//checkout examples/treeview.html and examples/treeview.js for more info
			};
			var tree_data = {
				<volist name="_SESSION['menu'][0]" id="m">
					'{$m.name}' : { name: '{$m[name]}', type: 'folder' }	,
				</volist>				
			};
				<volist name="_SESSION['menu'][0]" id="m">
					tree_data['{$m.name}']['additionalParameters'] = {
						'children' : {
							
							<volist name="_SESSION['menu'][$_SESSION['menu'][0][$m['name']]['id']]" id="sub_m">
							'{$sub_m.name|str_replace="/","",###}' : { name:'{$sub_m.name}', 
								<if condition = " isset($_SESSION['menu'][$sub_m['id']]) ">
									type:'folder'
								<else />
									type:'item'
								</if> 
							},
							</volist>
						}
					};

				</volist>				

				<volist name="_SESSION['menu'][0]" id="m">
					<volist name="_SESSION['menu'][$_SESSION['menu'][0][$m['name']]['id']]" id="sub_m">
						tree_data['{$m.name}']['additionalParameters']['children']['{$sub_m.name|str_replace="/","",###}']['additionalParameters'] = {
							'children' : {
								<volist name="_SESSION['menu'][$sub_m['id']]" id="s">
									
									'{$s.name|str_replace="/","",###}' : { name: '{$s.name}', type: 'item' },
									
								</volist>
							}
						};
					</volist>
					
				</volist>				
			var treeDataSource = new DataSourceTree({data: tree_data});

			jQuery(function($){

			$('#tree1').ace_tree({
				dataSource: treeDataSource ,
				multiSelect:true,
				loadingHTML:'<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
				'open-icon' : 'icon-minus',
				'close-icon' : 'icon-plus',
				'selectable' : false,
				/*
				'selected-icon' : 'icon-ok',
				'unselected-icon' : 'icon-remove'*/
			});



		/*
		$('#tree1').on('loaded', function (evt, data) {
		});

		$('#tree1').on('opened', function (evt, data) {
		});

		$('#tree1').on('closed', function (evt, data) {
		});

		$('#tree1').on('selected', function (evt, data) {
		});*/
		
	});
	</script>
<include file="./Application/Home/View/Common/footer.html" />